<div class="mt-20">
    <div class="flex flex-col 2xl:flex-row justify-around">
        <div
            class="bg-red-700 text-white py-5 px-10 mx-10 2xl:mb-0 2xl:w-full flex items-center gap-20 animate fadeInUp one">
            <div>
                <p class="text-xl">Total products</p>
                <p class="text-xl mt-2">
                    <%= @product_count %>
                </p>
            </div>
            <i class="fa-solid fa-box text-8xl text-white opacity-40"></i>
        </div>

        <div
            class="bg-red-800 text-white py-5 px-10 mx-10 2xl:mb-0 2xl:w-full flex items-center gap-20 animate fadeInDown two">
            <div>
                <p class="text-xl">Total users</p>
                <br />
                <p class="text-xl">
                    <%= @user_count %>
                </p>
            </div>
            <i class="fa-solid fa-user text-8xl text-[#ffffff] opacity-40"></i>
        </div>

        <div
            class="bg-red-400 text-white py-5 px-10 mx-10 2xl:mb-0 2xl:w-full flex items-center gap-20 animate fadeInLeft three">
            <div>
                <p class="text-xl">Contact mail</p>
                <br />
                <p class="text-xl">
                    <%= @contact_count %>
                </p>
            </div>
            <i class="fa-solid fa-envelope text-8xl text-[#ffffff] opacity-40"></i>
        </div>

        <div
            class="bg-red-500 text-white py-5 px-10 mx-10 2xl:w-full flex items-center gap-20 animate fadeInRight four">
            <div>
                <p class="text-xl">Repo view</p>
                <br />
                <p class="text-xl">100</p>
            </div>
            <i class="fa-brands fa-github text-8xl text-[#ffffff] opacity-40"></i>
        </div>
    </div>
    <br />
    <br />
    <div class="flex flex-col animate fadeIn five">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                <div class="overflow-hidden">
                    <div class="flex justify-between gap-2 bg-red-800 p-3">
                        <select id="cars" name="cars" class="rounded-lg">
                            <option value="volvo">Volvo</option>
                            <option value="saab">Saab</option>
                            <option value="fiat">Fiat</option>
                            <option value="audi">Audi</option>
                        </select>
                        <div class="flex gap-2">
                            <button id="openModal" class="bg-green-600 text-white p-3 rounded-lg"><i
                                    class="fa-solid fa-plus mr-3"></i>
                                Add
                                new element</button>
                            <button id="openModalUpdate" class="bg-orange-200 text-slate-100 p-3 rounded-lg"><i class="fa-solid fa-pen mr-3"></i>
                                Modify element</button>
                            <button id="openModalDel" class="bg-red-200 text-slate-100 p-3 rounded-lg"><i
                                    class="fa-solid fa-trash mr-3"></i>
                                Delete element</button>
                            <input type="text" placeholder="Search..." class="rounded-lg" />
                        </div>
                    </div>
                    <%= form_tag delete_from_index_crud_index_path, method: :delete, id: "delete-form" do %>
                        <table class="min-w-full text-center text-sm font-light">
                            <thead
                                class="border-b bg-red-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col" class="px-6 py-4">Name</th>
                                    <th scope="col" class="px-6 py-4">Number of</th>
                                    <th scope="col" class="px-6 py-4">Date of creation</th>
                                    <th scope="col" class="px-6 py-4">Create by</th>
                                </tr>
                            </thead>
                            <% @products.each do |product| %>
                                <tbody>
                                    <tr class="border-b bg-white dark:border-neutral-500">
                                        <td class="whitespace-nowrap">
                                            <%= check_box_tag "selected_products[]" , product.id, false,
                                                class: 'product-checkbox' %>
                                        </td>
                                        <td class="whitespace-nowrap px-6 py-4 font-medium">
                                            <%= product.nom %>
                                        </td>
                                        <td class="whitespace-nowrap px-6 py-4">
                                            <%= product.nombre %>
                                        </td>
                                        <td class="whitespace-nowrap px-6 py-4">
                                            <%= product.date %>
                                        </td>
                                        <td class="whitespace-nowrap px-6 py-4">
                                            <%= product.creator.username %>
                                        </td>
                                    </tr>
                                </tbody>
                                <% end %>
                                    <tfoot
                                        class="border-b bg-red-800 font-medium text-white dark:border-neutral-500 dark:bg-neutral-900">
                                        <tr>
                                            <td class="px-8 py-6"></td>
                                            <td class="px-8 py-6"></td>
                                            <td class="px-8 py-6"></td>
                                            <td class="px-8 py-6"></td>
                                            <td class="px-8 py-6"></td>
                                        </tr>
                                    </tfoot>
                        </table>
                        <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<%= render 'shared/modal_form_add' , crud: @crud, user: @user %>
<%= render 'shared/modal_delete' , crud: @crud %>
<%= render 'shared/modal_form_edit' , crud: @crud %>

<%= javascript_include_tag 'modal' %>